# Statistics
### Import modules

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt

### Load data

In [2]:
games_df = pd.read_json("data/games.json")

In [3]:
games_df

            id                           name
0     m1m8opd2                  'Splosion Man
1     9d3yzw6l     (The) Final Fantasy Legend
2     46w3n071                       -SPROUT-
3     y655rn36                        ...Iru!
4     y65e0e6e                          .flow
...        ...                            ...
6895  268er8k6                        ZuPaPa!
6896  v1pogpp6      Zwei: The Arges Adventure
6897  3dx28941  Zwei: The Ilvard Insurrection
6898  268w4my6          天神怪戦（Mercenary Force）
6899  v1pxz946                   暖雪 Warm Snow

[6900 rows x 2 columns]

In [4]:
runs_df = None
for id in games_df["id"].values:
    try:
        run_df = pd.read_json("data/runs/{}.json".format(id))
    except Exception:
        continue
    if runs_df is None:
        runs_df = run_df
    else:
        runs_df = pd.concat([runs_df, run_df])

In [5]:
runs_df

,id,game,player,player_location,time,category,region,platform,emulated
0,yl9lpnxy,'Splosion Man,SuperBigKMart,ca/qc,8609.000,Single Player,USA / NTSC,Xbox 360,False
1,yvg8v1oy,'Splosion Man,aychar,gb/eng,47.000,Single Player,None,Xbox 360,False
2,meke762m,'Splosion Man,BULBOUS1980,None,60.000,Single Player,None,Xbox 360,False
3,mrqo148y,'Splosion Man,MilsTailsPrower,fr,52.000,Single Player,EUR / PAL,Xbox 360,False
4,y45gr22m,'Splosion Man,Raigeki,None,65.000,Single Player,None,Xbox 360,False
...,...,...,...,...,...,...,...,...,...
10,yop43xdm,100th Anniversary of the Crossword Puzzle,funado,ar,23.966,Any% (Restricted),None,Web,False
11,mejk620y,100th Anniversary of the Crossword Puzzle,Fibbel7,us,59.733,Any% (Restricted),None,Web,False
12,yle9v2nz,100th Anniversary of the Crossword Puzzle,merio,es,49.650,Any% (Restricted),EUR / PAL,Web,False
13,mr6q4e4m,100th Anniversary of the Crossword Puzzle,KilleDragon,es/pv,33.233,Any% (Restricted),None,Web,False
14,yvrpwx4z,100th Anniversary of the Crossword Puzzle,Minatour123,mk,21.066,Any% (Restricted),EUR / PAL,Web,False

In [6]:
runs_df.sum(axis=None, skipna=True)

C:\Users\chova\AppData\Local\Temp\ipykernel_23796\1521133837.py:1: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  runs_df.sum(axis=None, skipna=True)

id          yl9lpnxyyvg8v1oymeke762mmrqo148yy45gr22myvg812...
game        'Splosion Man'Splosion Man'Splosion Man'Splosi...
player      SuperBigKMartaycharBULBOUS1980MilsTailsProwerR...
time                                               492645.611
category    Single PlayerSingle PlayerSingle PlayerSingle ...
emulated                                                   28
dtype: object